{% extends "./base.html" %}
{% load static %}
{% block title %}BookStore{% endblock %}
{% block content %}
<main>

  <section class="hero" style="background-color: white; text-align: center; padding: 3rem 0;">
    <div class="container">
      <h1 class="display-2 fw-bold">Discover This Week's Must-Reads</h1>
      <p class="lead">Immerse yourself in captivating stories and knowledge.</p>
      <a href="#" class="btn btn-lg btn-success btn-animate" style="background-color: 04478f;">Shop Now</a>
    </div>
  </section>



  <div class="container">
    
    </div>
    <div class="container">
      <div class="row">
        <div class="album py-7">
          <div class="pb-8">
            <h1 class="h3"></h1>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
            {% for product in products %}
            <div class="col">
              <div class="card border-0">
                <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
                <div class="card-body px-3">
                  <p class="card-text">
                    <a class="text-dark text-decoration-none"
                      href="{{ product.get_absolute_url }}">{{ product.title|slice:":50" }}...</a>
                  </p>
                  <div class="fw-bold">${{product.price}}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock %}
