{% extends "store/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<main class="pt-5">
    <div class="container">
        <div class="row">
            <!-- Product Image (Smaller and on the side) -->
            <div class="col-md-3">
                <div class="card border-0">
                    <img class="card-img-top" alt="Product Image" src="{{ product.image.url }}">
                </div>
            </div>
            <!-- Product Details -->
            <div class="col-md-8">
                <h1 class="display-7">{{ product.title }}</h1>
                <p class="lead text-muted">{{ product.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="price">
                        <span class="h3">${{ product.price }}</span>
                    </div>
                    <div class="quantity">
                        <label for="select">Qty</label>
                        <select id="select" class="form-select form-select-rg">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>
                <div class="buttons mt-3">
                    <button type="button" class="btn btn-success btn-lg fw-bold" id="add-to-basket"
                        data-productid="{{ product.id }}">Add to Basket</button>
                    <button type="button" class="btn btn-light btn-lg fw-bold" id="add-to-favorites"
                        data-productid="{{ product.id }}">Add to Favorites</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).on('click', '#add-to-basket', function (e) {
        e.preventDefault();
        var productId = $(this).data('productid');
        var selectedQty = $('#select').val(); // Get the selected quantity

        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productid: productId,
                productqty: selectedQty,
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post'
            },
            success: function (json) {
                document.getElementById("basket-qty").innerHTML = json.qty;
            },
            error: function (xhr, errmsg, err) {}
        });
    });
</script>
{% endblock %}
